{% extends 'layout/layout_doctor.html' %}

{% block content %}
<div id="liveToast" class="toast align-items-center text-bg-success border-0 mx-auto"
    role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body" id="toastMsg">
            Message
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('doctor.appointments') }}">
                    Appointments
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('doctor.appointment_accepted') }}">
                    Accepted Appointments
                </a>
            </li>
            <li class="breadcrumb-item active">
                #{{ appt.appt_id }}
            </li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-success bg-opacity-10 d-flex justify-content-between">
            <div class="fw-bold fs-5">Diagnosis</div>
            <button type="button" class="btn btn-sm btn-success">
                <i class="bi bi-pencil-square"></i>
            </button>
        </div>
        <div class="card-body">
            <p class="card-text" id="diag_info">
                With supporting text below as a natural lead-in to additional content.
            </p>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="card">
        <div class="card-header bg-primary bg-opacity-10 d-flex justify-content-between">
                <div class="fw-bold fs-5">Prescription</div>
                <button type="button" class="btn btn-sm btn-primary"
                    data-bs-toggle="modal" data-bs-target="#add_pres_item_modal">
                    <i class="bi bi-clipboard2-plus"></i>
                </button>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Medicine</th>
                        <th scope="col">Dosage</th>
                        <th scope="col">Instruction</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="item_list">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-header bg-warning bg-opacity-10 d-flex justify-content-between">
            <div class="fw-bold fs-5">Prescription Note</div>
            <button type="button" class="btn btn-sm btn-warning">
                <i class="bi bi-pencil-square"></i>
            </button>
        </div>
        <div class="card-body">
            <p class="card-text" id="note_info">
                With supporting text below as a natural lead-in to additional content.
            </p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header bg-info bg-opacity-10 d-flex justify-content-between">
            <div class="fw-bold fs-5">Next Meetup</div>
            <button type="button" class="btn btn-sm btn-info">
                <i class="bi bi-pencil-square"></i>
            </button>
        </div>
        <div class="card-body">
            <p class="card-text" id="meet_info">
                With supporting text below as a natural lead-in to additional content.
            </p>
        </div>
    </div>
</div>

{% include '/doctor/modals/add_pres_item_modal.html' %}
{% include '/doctor/modals/edit_pres_item_modal.html' %}
<!-- JS -->
{% include '/doctor/includes/appointment_view_js.html' %}
{% endblock content %}