{% extends 'layout/layout_doctor.html' %}

{% block content %}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('doctor.appointments') }}">
                    Appointments
                </a>
            </li>
            <li class="breadcrumb-item active">
                #{{ appt.appt_id }}
            </li>
        </ol>
    </nav>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Medicine</th>
                <th scope="col">Dosage</th>
                <th scope="col">Instruction</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Napa Extra 500 MG</td>
                <td>3 Times Per Day</td>
                <td>After Eating</td>
                <td>7 Days</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Gastoral 250ml</td>
                <td>2 Times Per Day</td>
                <td>After Eating</td>
                <td>14 Days</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- JS -->
<script>
    $(document).ready(function () {
        $("#navAppt").removeClass("text-info");
        $("#navAppt").addClass("active");
    });
</script>
{% endblock content %}