{% extends 'layout/layout_doctor.html' %}

{% block content %}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <svg width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                        <path
                            d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                    </svg>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active">
                Account Logs
            </li>
        </ol>
    </nav>
</div>

<div class="container mt-3">
    <!-- Log List -->
    <table class="table table-striped shadow">
        <thead class="table-info">
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Log Event</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody id="log_data">
            {% for log in logs %}
            <tr>
                <td>{{ log.log_id }}</td>
                <td>
                    <a onclick="show_log_details('{{ log.log_id }}')" class="text-decoration-none text-info fw-semibold">
                        {{ log.log_type }}
                    </a>
                </td>
                <td>{{ log.log_date }}</td>
                <td>{{ log.log_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination -->
<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-center border rounded">
        {% for page_num in logs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if logs.page == page_num %}
        <a class="btn btn-info m-2" href="{{ url_for('doctor.logs', page=page_num) }}" id="pg_link{{ page_num }}">
            {{ page_num }}
        </a>
        {% else %}
        <a class="btn btn-outline-info m-2" href="{{ url_for('doctor.logs', page=page_num) }}"
            id="pg_link{{ page_num }}">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        <button class="btn btn-outline-secondary m-2" disabled>
            ...
        </button>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% include '/doctor/modals/log_modal.html' %}

<!-- JS -->
<script>
    $(document).ready(function () {
        $("#navAccount").removeClass("text-info");
        $("#navAccount").addClass("active");
        $("#navLogs").addClass("active");
    });

    function show_log_details(log_id) {
            $.ajax({
                type: "GET",
                url: "/api/public/log/" + log_id,
                data: "data",
                success: function (response) {
                    var log = response[1]["log"]
                    $("#log_title").html("Log #" + log.log_id);
                    $("#log_type").html(log.log_type);
                    $("#log_date").html(log.log_date);
                    $("#log_time").html(log.log_time);
                    $("#log_desc").html(log.log_desc);
                    $("#logModal").toggle();
                }
            });
        }
        $("#closeModal").click(function (e) {
            $("#logModal").toggle();
        });
</script>
{% endblock content %}
    