{% extends 'layout/layout_doctor.html' %}

{% block content %}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('doctor.patients') }}">
                    Patients
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none"
                    href="{{ url_for('doctor.view_patient', patient_id=patient.p_id) }}">
                    {{ patient.last_name }} {{ patient.first_name }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none"
                    href="{{ url_for('doctor.view_patient_tests', patient_id=patient.p_id) }}">
                    Medical Test History
                </a>
            </li>
            <li class="breadcrumb-item active">
                {{ file.file_name }}
            </li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row border p-3 m-3 mt-0 rounded">
        <div class="col-md-6 text-break">
            <div class="fs-5">
                {{ file.file_name }}
            </div>
            <div class="fs-6 text-secondary">
                Size: {{ file.file_size_kb }} KB
            </div>
            <div class="fs-6 text-secondary">
                Uploaded on: {{ file.upload_date }}, {{ file.upload_time }}
            </div>
            <div class="fs-6 mt-2">
                <strong>Uploaded by: </strong>
                {{ file.last_name }} {{ file.first_name }}
            </div>
        </div>
        <div class="col-md-6 text-end mt-3">
            <a href="{{ url_for('doctor.download_patient_test_file', patient_id=patient.p_id, file_id=file.file_id) }}"
                class="btn btn-primary">
                Download
            </a>
            <button class="btn btn-secondary" onclick="goBack()">
                Back
            </button>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <object data="{{ url_for('static', filename='upload/manager/test_results/'~file.file_path_name) }}"
            type="application/pdf" style="width: 100%; min-height: 600px;" />
        <div class="alert alert-danger" role="alert">
            Sorry, your browser not supported. Try using desktop browser.
        </div>
        </object>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#navPat").removeClass("text-info");
        $("#navPat").addClass("active");
    });
    function goBack() {
            window.history.back();
        }
</script>
{% endblock content %}