{% extends 'layout/layout_doctor.html' %}


{% block content %}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active">
                Edit Profile
            </li>
        </ol>
    </nav>
</div>

<form action="{{ url_for('doctor.update_profile_handler') }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-2">
                <img src="{{ url_for('static', filename='avatars/doctor/'~doctor.avatar) }}" class="img-thumbnail me-2"
                    style="max-width: 200px;" alt="{{ doctor.last_name }}" />
            </div>
            <div class="col-lg-4 mt-auto">
                {{ form.avatar.label(class='form-label fw-bold') }}
                {{ form.avatar(class='form-control') }}
                {% if form.avatar.errors %}
                <div class="invalid-feedback">
                    {% for error in form.avatar.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <div class="text-end mt-3">
                    <button type="button"
                        class="btn btn-warning fw-semibold" data-bs-toggle="modal" data-bs-target="#passwordModal">
                        Change Password?
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="h4 mb-3">
                    <i class="bi bi-info-square-fill"></i> Account Information
                </div>
                <hr>
                <!-- Title -->
                <div class="input-group mb-3">
                    {{ form.title.label(class='input-group-text fw-bold') }}
                    {{ form.title(class='form-control', placeholder='Enter Doctor Title') }}
                    {% if form.first_name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <!-- First Name -->
                <div class="input-group mb-3">
                    {{ form.first_name.label(class='input-group-text fw-bold') }}
                    {{ form.first_name(class='form-control', placeholder='Enter First Name') }}
                    {% if form.first_name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <!-- Last Name -->
                <div class="input-group mb-3">
                    {{ form.last_name.label(class='input-group-text fw-bold') }}
                    {{ form.last_name(class='form-control', placeholder='Enter Last Name') }}
                    {% if form.last_name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <!-- Gender -->
                <div class="input-group mb-3">
                    {{ form.gender.label(class='input-group-text fw-bold') }}
                    {{ form.gender(class='form-select') }}
                    {% if form.gender.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.gender.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <!-- Birthdate -->
                <div class="input-group mb-3">
                    {{ form.birthdate.label(class='input-group-text fw-bold') }}
                    {{ form.birthdate(class='form-control') }}
                    {% if form.birthdate.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.birthdate.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <!-- Email -->
                <div class="input-group mb-3">
                    {{ form.email.label(class='input-group-text fw-bold') }}
                    {{ form.email(class='form-control', placeholder='Enter Email Address') }}
                    {% if form.email.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <!-- Phone -->
                <div class="input-group mb-3">
                    {{ form.phone.label(class='input-group-text fw-bold') }}
                    {{ form.phone(class='form-control', placeholder='Enter Phone Number') }}
                    {% if form.phone.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <!-- Submit -->
                {{ form.submit(class='btn btn-info w-100 mt-2 mb-5 py-2 fw-semibold text-white') }}
            </div>
        </div>
    </div>
</form>

{% include '/doctor/modals/password_modal.html' %}
<script>
    $(document).ready(function () {
        $("#navAccount").removeClass("text-info");
        $("#navAccount").addClass("active");
        $("#navProfile").addClass("active");
    });
</script>
{% endblock content %}