<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" , shrink-to-fit="no">
    {% if title %}
    <title>MediPlus - {{ title }}</title>
    {% else %}
    <title>MediPlus</title>
    {% endif %}

    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23198754' viewBox='0 0 16 16'%3E%3Cpath
    d='M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598
    5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9z'/%3E%3Cpath d='M.88 8C-2.427 1.68 4.41-2 7.823
    1.143q.09.083.176.171a3 3 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956
    6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8z'/%3E%3C/svg%3E" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='mycss/color.css')}}">
    <!-- JS -->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
</head>

<body id="body" class="d-flex flex-column min-vh-100">
    <header style="padding-bottom: 3.5em;">
        <nav class="navbar navbar-expand-md fixed-top bg-lightmint">
            <div class="container">
                <a class="navbar-brand fs-5" href="{{ url_for('public.index')}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#198754" viewBox="0 0 16 16">
                        <path
                            d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9z" />
                        <path
                            d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8z" />
                    </svg>
                    <b class="text-danger">Medi</b><b class="text-success">Plus</b>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        {% if current_user.is_authenticated %}
                        {% if current_user.role == "Patient" %}
                        {% if session['pending_items'] > 0 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('patient.pending_items') }}">
                                Pending Items
                                <small>
                                    <sup class="badge rounded-pill text-bg-danger">{{ session['pending_items'] }}</sup>
                                </small>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('public.dashboard') }}">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="{{ url_for('public.logout') }}">
                                Logout
                            </a>
                        </li>

                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('public.tests') }}">Tests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('public.login') }}">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('public.register') }}">
                                Register
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Notice section start -->
    <div class="clearfix mt-3 ms-2 me-2">
        <div class="mx-auto" style="max-width: 500px;">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible text-center mb-2 fw-bold" fade show>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <!-- Notice section end -->

    {% block content %}
    {% endblock content %}

    <footer class="mt-auto pt-2" style="background-color: #d6f6d4;">
        <p class="text-center text-muted">
            © MediPlus 2024, <a class="text-primary text-decoration-none" href="">About This Project</a>
        </p>
    </footer>

    <!-- JS -->
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='myjs/index.js')}}"></script>
</body>

</html>