<div class="modal" id="managerPasswordModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header bg-primary-subtle">
                <div class="modal-title fw-bold">
                    Change Manager Password
                </div>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal"></button>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <form method="POST" action="{{ url_for('manager.update_manager_password_handler', id=manager.id ) }}">
                    {{ password_form.hidden_tag() }}
                    <!-- New Password -->
                    <div class="mb-3">
                        {{ password_form.new_password.label(class='form-label fw-semibold') }}
                        {% if password_form.new_password.errors %}
                        {{ password_form.new_password(class="form-control is-invalid", placeholder='Enter New Password')
                        }}
                        <div class="invalid-feedback">
                            {% for error in password_form.new_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ password_form.new_password(class="form-control", placeholder='Enter New Password') }}
                        {% endif %}
                    </div>
                    <!-- Confirm Password -->
                    <div class="mb-3">
                        {{ password_form.confirm_password.label(class='form-label fw-semibold') }}
                        {% if password_form.confirm_password.errors %}
                        {{ password_form.confirm_password(class="form-control is-invalid", placeholder='Confirm New
                        Password') }}
                        <div class="invalid-feedback">
                            {% for error in password_form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ password_form.confirm_password(class="form-control", placeholder='Confirm New Password') }}
                        {% endif %}
                    </div>

                    <!-- Change Button -->
                    <div class="d-grid mb-3">
                        {{ password_form.submit(class='btn btn-primary fw-semibold text-white mt-2 mb-2') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>