{% extends 'layout/layout_manager.html' %}


{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active">
                My Account
            </li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <div class="d-flex justify-content-between align-items-center">
                <img class="rounded-circle border shadow" height="130px" width="130px"
                    src="{{ url_for('static', filename='avatars/manager/'~session['avatar']) }}" 
                    alt="{{ current_user.username }}" />
                <div class="ms-3">
                    <div class="fw-semibold fs-4 text-body-emphasis">
                        {{ profile.last_name }} {{ profile.first_name }}
                        {% if current_user.gender == "Male" %}
                        <span class="badge bg-info-subtle text-info-emphasis rounded-pill">
                            <i class="bi bi-gender-male"></i>
                        </span>
                        {% else %}
                        <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill">
                            <i class="bi bi-gender-female"></i>
                        </span>
                        {% endif %}
                    </div>
                    <div class="text-secondary fw-semibold">
                        {{ current_user.role }}
                    </div>
                    <div class="text-secondary fw-semibold">
                        #ID: {{ current_user.id }}
                    </div>
                    <a href="{{ url_for('manager.change_password') }}"
                        class="btn btn-sm btn-secondary rounded-3 mt-2">
                        Change Password
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="fs-5">Username: <span class="text-secondary">{{ current_user.username }}</span></div>
            <div class="fs-5">Phone: <span class="text-secondary">{{ profile.phone }}</span></div>
            <div class="fs-5">Email: <span class="text-secondary">{{ current_user.email }}</span></div>
            <div class="fs-5">Birthdate: <span class="text-secondary">{{ profile.birthdate }}</span></div>
        </div>
    </div>
</div>

<!-- Nav tabs -->
<div class="container mt-3">
    <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
        <li class="nav-item mTab border rounded" role="presentation">
            <button class="nav-link active" id="log-tab" data-bs-toggle="pill" data-bs-target="#pills-log"
                type="button" role="tab" aria-controls="pills-log" aria-selected="true">
                My Activities
            </button>
        </li>
        <li class="nav-item mTab border rounded" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile">
                Update Profile
            </button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-log" role="tabpanel" aria-labelledby="log-tab"
            tabindex="0">
            {% include '/manager/includes/own_logs.html' %}
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            {% include '/manager/includes/self_profile_form.html' %}
        </div>
    </div>
</div>

{% endblock content %}