{% extends 'layout/layout_manager.html' %}


{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('manager.account') }}">
                    My Account
                </a>
            </li>
            <li class="breadcrumb-item active">
                Change Password
            </li>
        </ol>
    </nav>
</div>

<div class="container border rounded shadow pt-5 pb-5 form-signin w-100 m-auto align-items-center"
    style="max-width: 480px;">
    <form action="" method="post" class="ms-3 me-3">
        {{ form.hidden_tag() }}
        <!-- Old Password -->
        <div class="input-group mb-3">
            {{ form.current_password.label(class='input-group-text fw-bold fs-6 d-none d-sm-inline') }}
            {% if form.current_password.errors %}
            {{ form.current_password(class="form-control is-invalid", placeholder='Enter Current Password') }}
            <div class="invalid-feedback">
                {% for error in form.current_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.current_password(class="form-control", placeholder='Enter Current Password') }}
            {% endif %}
        </div>
        <!-- New Password -->
        <div class="input-group mb-3 mt-3">
            {{ form.new_password.label(class='input-group-text fw-bold fs-6 d-none d-sm-inline') }}
            {% if form.new_password.errors %}
            {{ form.new_password(class="form-control is-invalid", placeholder='Enter New Password') }}
            <div class="invalid-feedback">
                {% for error in form.new_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.new_password(class="form-control", placeholder='Enter New Password') }}
            {% endif %}
        </div>
        <!-- Confirm Password -->
        <div class="input-group mb-3 mt-3">
            {{ form.confirm_password.label(class='input-group-text fw-bold fs-6 d-none d-sm-inline') }}
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid", placeholder='Confirm New Password') }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.confirm_password(class="form-control", placeholder='Confirm New Password') }}
            {% endif %}
        </div>

        <!-- Submit -->
        {{ form.submit(class='btn btn-success w-100 py-2') }}
    </form>

</div>

{% endblock content %}