{% extends 'layout/layout_manager.html' %}


{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active">
                Overview
            </li>
        </ol>
    </nav>
</div>

<div class="container-fluid">
    <div class="row gy-3">
        <div class="col-md-2 mb-2 pop">
            <div class="card h-100 bg-danger-subtle text-danger">
                <div class="card-body text-center">
                    <h5 class="card-title fs-3 fw-bold">1430</h5>
                    <p class="card-text">
                        Registered Patients
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-2 pop">
            <a href="{{ url_for('manager.doctors') }}" class="text-decoration-none">
                <div class="card h-100 bg-success-subtle text-success">
                    <div class="card-body text-center">
                        <h5 class="card-title fs-3 fw-bold">33</h5>
                        <p class="card-text">
                            Registered Doctors
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 mb-2 pop">
            <div class="card h-100 bg-info-subtle text-info">
                <div class="card-body text-center">
                    <h5 class="card-title fs-3 fw-bold">12</h5>
                    <p class="card-text">
                        Working Managers
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-2 pop">
            <a href="{{ url_for('manager.tests') }}" class="text-decoration-none">
                <div class="card h-100 bg-primary-subtle text-primary">
                    <div class="card-body text-center">
                        <h5 class="card-title fs-3 fw-bold">3223</h5>
                        <p class="card-text">
                            Medical Tests Done
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 mb-2 pop">
            <div class="card h-100 bg-warning-subtle text-warning">
                <div class="card-body text-center">
                    <h5 class="card-title fs-3 fw-bold">2618</h5>
                    <p class="card-text">
                        Doctor Meetup
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-2 pop">
            <a href="{{ url_for('manager.invoices') }}" class="text-decoration-none">
                <div class="card h-100 bg-dark-subtle text-dark">
                    <div class="card-body text-center">
                        <h5 class="card-title fs-3 fw-bold">1526</h5>
                        <p class="card-text">
                            Completed Invoices
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#side_overview").addClass("text-success-emphasis bg-success-subtle");
    });
</script>
{% endblock content %}