{% extends 'layout/layout_manager.html' %}

{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('manager.doctors') }}">
                    Doctors
                </a>
            </li>
            <li class="breadcrumb-item active">
                Dr. {{ doctor.last_name }} {{ doctor.first_name }}
            </li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-start mb-2">
            <img class="float-start rounded-circle border shadow me-3" height="140px" width="140px"
                src="{{ url_for('static', filename='avatars/doctor/'~doctor.avatar) }}" />
            <div class="fs-6 fw-bold mt-3">
                Dr. {{ doctor.last_name }} {{ doctor.first_name }}
                {% if doctor.gender == "Male" %}
                <span class="badge rounded-pill bg-info-subtle text-info-emphasis">
                    <i class="bi bi-gender-male"></i>
                </span>
                {% else %}
                <span class="badge rounded-pill bg-warning-subtle text-warning-emphasis">
                    <i class="bi bi-gender-female"></i>
                </span>
                {% endif %}
            </div>
            <div class="fs-6 text-secondary mt-1">
                {{ doctor.title }}
            </div>
            <div class="fs-6 mt-1">
                {{ doctor.phone }}
            </div>
            {% if doctor.appt_status == "Available" %}
            <span class="badge rounded-pill text-bg-success">{{ doctor.appt_status }}</span>
            {% else %}
            <span class="badge rounded-pill text-bg-danger">{{ doctor.appt_status }}</span>
            {% endif %}
            <a href="{{ url_for('manager.change_appt_status', id=doctor.d_id) }}" class="text-decoration-none">(Change)</a>
        </div>
        <div class="col-md-6 text-end">
            <a href="{{ url_for('manager.update_doctor_profile', id=doctor.d_id) }}"
                class="btn btn-outline-secondary btn-sm pop mb-2 rounded-3">
                Update Profile
            </a>
            <br>
            <a href="{{ url_for('manager.update_doctor_schedule', id=doctor.d_id) }}"
                class="btn btn-outline-secondary btn-sm pop mb-2 rounded-3">
                Update Schedule
            </a>
            <br>
            <button data-bs-toggle="modal" data-bs-target="#doctorPasswordModal"
                class="btn btn-outline-secondary btn-sm pop mb-2 rounded-3">
                Change Password
            </button>
        </div>
    </div>
</div>
<div class="container">
    {% include '/manager/includes/doctor_appt_history.html' %}
</div>
{% include '/manager/modals/doctor_password_modal.html' %}

<script>
    $(document).ready(function () {
        $("#side_doctor").addClass("text-success-emphasis bg-success-subtle");
    });
</script>
{% endblock content %}