{% extends 'layout/layout_manager.html' %}


{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <svg width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                        <path
                            d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                    </svg>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active">
                Invoices
            </li>
        </ol>
    </nav>
</div>

<!-- Filter -->
<div class="container">
    <div class="border rounded mb-3 p-3">
        <h4 class="fs-5 mb-2">
            <svg width="25" height="25" fill="currentColor" class="bi" viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
            Search Invoices
        </h4>
        <div class="row">
            <div class="col">
                <label class="form-label" for="search_by">Search By</label>
                <select class="form-select" id="search_by">
                    <option value="id">Invoice ID</option>
                    <option value="userid">User ID</option>
                    <option value="name">User Name</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="keyword">Keyword</label>
                <input class="form-control" id="keyword" placeholder="Enter Keyword" required type="text">
            </div>
            <div class="col mt-auto">
                <button class="btn btn-success" id="search">Search</button>
            </div>
        </div>
        <div id="msg"></div>
    </div>
</div>

<!-- Invoice List -->
<div class="container">
    <table class="table table-bordered table-hover shadow">
        <thead class="table-success">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Patient</th>
                <th scope="col">Phone</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Creation Time</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="manager_data">
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoice_id }}</td>
                <td>
                    {{ invoice.last_name }} {{ invoice.first_name }}
                </td>
                <td>{{ invoice.phone }}</td>
                <td>{{ invoice.total_amount }}</td>
                {% if invoice.status == 'Unpaid' %}
                <td class="table-danger">{{ invoice.status }}</td>
                {% else %}
                <td class="table-warning">{{ invoice.status }}</td>
                {% endif %}
                <td>{{ invoice.invoice_date }}</td>
                <td>{{ invoice.invoice_time }}</td>
                <td>
                    <!-- View -->
                    <a href="{{ url_for('public.invoice', id=invoice.invoice_id)}}"
                        class="btn btn-sm btn-secondary fw-light" target="_blank">
                        <svg width="18" height="18" fill="currentColor" class="bi" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                        </svg>
                    </a>
                    <!-- Update -->
                    <a href="{{ url_for('manager.invoice_update', id=invoice.invoice_id)}}"
                        class="btn btn-sm btn-success">
                        <svg width="18" height="18" fill="currentColor" class="bi"
                            viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </a>
                    <!-- Delete -->
                    <a href="{{ url_for('manager.invoice_delete', id=invoice.invoice_id)}}"
                        class="btn btn-sm btn-danger" onclick="return confirm('Delete Invoice #{{ invoice.invoice_id }}?')">
                        <svg width="18" height="18" fill="currentColor" class="bi" viewBox="0 0 16 16">
                            <path
                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- JS -->
<script>
    $(document).ready(function () {
        $("#side_invoices").addClass("text-success-emphasis bg-success-subtle");
    });
</script>
{% endblock content %}