{% extends 'layout/layout_manager.html' %}


{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('manager.invoices') }}">
                    Invoices
                </a>
            </li>
            <li class="breadcrumb-item active">
                # {{ invoice.invoice_id }}
            </li>
        </ol>
    </nav>
</div>

<div class="container mt-3">
    <div class="d-flex justify-content-between">
        <div class="me-auto">
            <ul class="list-unstyled">
                <li class="text-muted">
                    <span class="fw-bold">Patiend ID:</span> {{ patient.p_id }}
                </li>
                <li class="text-muted">
                    <span class="fw-bold">
                        Patient:
                    </span>
                    <span class="text-capitalize">
                        {{ patient.last_name }} {{ patient.first_name }}
                    </span>
                </li>
                <li class="text-muted">
                    <span class="fw-bold">Phone:</span> {{ patient.phone }}
                </li>
                <li class="text-muted">
                    <span class="fw-bold">Creation Date: </span>{{ invoice.invoice_date }}
                </li>
                <li class="text-muted">
                    <span class="fw-bold">Creation Time: </span>{{ invoice.invoice_time }}
                </li>
            </ul>
        </div>

        <div class="ms-auto">
            <ul class="list-unstyled">
                <li class="text-muted">
                    <span class="me-1 fw-bold">Status:</span>
                    {% if invoice.status == 'Unpaid' %}
                    <span class="badge bg-danger fw-bold">Unpaid</span>
                    <br>
                    <button data-bs-toggle="modal" data-bs-target="#updateInvoiceModal"
                        class="btn btn-success btn-sm fw-bold mt-3 pop">
                        Receive Payment
                    </button>
                    {% else %}
                    <span class="badge bg-success fw-bold">Paid</span>
                    {% endif %}
                </li>
                <li class="text-muted mt-3">
                    <a href="{{ url_for('public.invoice', id=invoice.invoice_id)}}" target="_blank"
                        class="btn btn-outline-info btn-sm pop">
                        View Invoice
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% include '/manager/modals/invoice_update_modal.html' %}

<!-- Invoice Items -->
<div class="container mt-3">
    <div class="fs-4 fw-bold">
        Invoice Items
    </div>
    <hr>
    <table class="table table-striped table-borderless">
        <thead style="background-color:#84B0CA ;" class="text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col" class="text-end">Amount</th>
                {% if invoice.status == 'Unpaid' %}
                <th scope="col" class="text-end">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ item.item_desc }}</td>
                <td class="text-end">{{ item.item_price }}</td>
                {% if invoice.status == 'Unpaid' %}
                <td class="text-end">
                    <a href="{{ url_for('manager.invoice_item_delete', invoice_id=invoice.invoice_id, item_id=item.item_id)}}"
                        class="btn btn-sm btn-danger" onclick="return confirm('Delete Item: {{ item.item_desc }}?')">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

<div class="container">
    <div class="d-flex justify-content-between">
        <div class="ms-auto">
            <p class="text-black float-start">
                <span class="text-black me-3">Total Amount</span>
                <span style="font-size: 25px;">¥ {{ invoice.total_amount }}</span>
                {% if invoice.status == 'Paid' %}
                <br>
                <span class="text-black me-3">Paid Amount</span>
                <span style="font-size: 25px;">¥ <span id="paid_amount"></span></span>
                {% endif %}
            </p>
        </div>
    </div>
</div>


{% if invoice.status == 'Paid' %}
<div class="container">
    <div class="fs-4 fw-bold">
        Payment Details
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <div class="me-auto">
            <ul class="list-unstyled" id="payment_info">
            </ul>
        </div>
        <div class="ms-auto">
            <ul class="list-unstyled" id="manager_info">
                <li class="text-muted">
                    <span class="fw-bold">Received By: </span>
                    <span class="text-capitalize">
                        <span id="manager_lname"></span> <span id="manager_fname"></span>
                    </span>
                    
                </li>
                <li class="text-muted">
                    <span class="fw-bold">Phone: </span>
                    <span id="manager_phone"></span>
                </li>
                <li class="text-muted">
                    <span class="fw-bold">Payment Date: </span>
                    <span id="payment_date"></span>
                </li>
                <li class="text-muted">
                    <span class="fw-bold">Payment Time: </span>
                    <span id="payment_time"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- JS -->
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "{{ url_for('api.payment_info', invoice_id=invoice.invoice_id) }}",
            data: "data",
            success: function (response) {
                if (response[0]["result"] == "success") {
                    var info = response[1]["info"];
                    var payment_data = `
                    <li class="text-muted">
                        <span class="fw-bold">Payment ID: </span> #${info.payment_id}
                    </li>
                    <li class="text-muted">
                        <span class="fw-bold">Payment Amount: </span>¥ ${info.payment_amount}
                    </li>
                    <li class="text-muted">
                        <span class="fw-bold">Payment Method: </span>${info.payment_method}
                    </li>
                    <li class="text-muted">
                        <span class="fw-bold">Payment Note: </span>${info.payment_note}
                    </li>
                    `;
                    var manager_data = `
                    <li class="text-muted">
                        <span class="fw-bold">Received By: </span>
                        <span class="text-capitalize">${info.manager_lname} ${info.manager_fname}</span>
                    </li>
                    <li class="text-muted">
                        <span class="fw-bold">Phone: </span>${info.manager_phone}
                    </li>
                    <li class="text-muted">
                        <span class="fw-bold">Payment Date: </span>${info.payment_date}
                    </li>
                    <li class="text-muted">
                        <span class="fw-bold">Payment Time: </span>${info.payment_time}
                    </li>
                    `;
                    $("#paid_amount").html(info.payment_amount);
                    $("#payment_info").html(payment_data);
                    $("#manager_info").html(manager_data);
                }
                else {
                    $("#manager_info").html("<div class='text-danger fw-bold'>Data fetching failed, please reload or try later!</div>");
                }
            }
        });
    });
</script>
{% endif %}

<!-- JS -->
<script>
    $(document).ready(function () {
        $("#side_invoices").addClass("text-success-emphasis bg-success-subtle");
    });
</script>
{% endblock content %}