{% extends 'layout/layout_manager.html' %}


{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <svg width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                        <path
                            d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                    </svg>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active">
                Activity Logs
            </li>
        </ol>
    </nav>
</div>

<!-- Filter -->
<div class="container">
    <div class="border rounded mb-3 p-3">
        <h4 class="fs-5 mb-2">
            <svg width="25" height="25" fill="currentColor" class="bi"
                viewBox="0 0 16 16">
                <path
                    d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z" />
            </svg>
            Filter Logs
        </h4>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col">
                    {{ form.role.label(class="form-label") }}
                    {{ form.role(class="form-select") }}
                </div>
                <div class="col">
                    {{ form.date.label(class="form-label") }}
                    {{ form.date(class="form-control") }}
                </div>
                <div class="col">
                    {{ form.order.label(class="form-label") }}
                    {{ form.order(class="form-select") }}
                </div>
                <div class="col">
                    {{ form.count.label(class="form-label") }}
                    {{ form.count(class="form-select") }}
                </div>
                <div class="col mt-auto">
                    {{ form.submit(class='btn btn-success') }}
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Log List -->
<div class="container">
    <table class="table table-bordered table-hover shadow">
        <thead class="table-success">
            <tr>
                <th scope="col text-primary">Log ID</th>
                <th scope="col">User ID</th>
                <th scope="col">Log Event</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody id="log_data">
            {% for log in logs %}
            <tr>
                <td>{{ log.log_id }}</td>
                <td>{{ log.user_id }}</td>
                <td>{{ log.log_type }}</td>
                <td>{{ log.username }}</td>
                {% if log.role == 'Manager' %}
                <td class="table-warning">{{ log.role }}</td>
                {% endif %}
                {% if log.role == 'Patient' %}
                <td class="table-info">{{ log.role }}</td>
                {% endif %}
                {% if log.role == 'Doctor' %}
                <td class="table-success">{{ log.role }}</td>
                {% endif %}
                <td>{{ log.log_date }}</td>
                <td>{{ log.log_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination -->
<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-center border rounded">
        {% for page_num in logs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if logs.page == page_num %}
        <a class="btn btn-success m-2" href="{{ url_for('manager.logs', page=page_num) }}" id="pg_link{{ page_num }}">
            {{ page_num }}
        </a>
        {% else %}
        <a class="btn btn-outline-success m-2" href="{{ url_for('manager.logs', page=page_num) }}" id="pg_link{{ page_num }}">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        <button class="btn btn-outline-secondary m-2" disabled>
            ...
        </button>
        {% endif %}
        {% endfor %}
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#side_logs").addClass("text-success-emphasis bg-success-subtle");
    });
</script>

{% endblock content %}