{% extends 'layout/layout_manager.html' %}


{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item active">
                Patients
            </li>
        </ol>
    </nav>
</div>

<!-- Filter -->
<div class="container">
    <div class="border rounded mb-3 p-3">
        <h4 class="fs-5 mb-2">
            <i class="bi bi-search"></i> Search Patient
        </h4>
        <div class="row">
            <div class="col">
                <label class="form-label" for="search_by">Search By</label>
                <select class="form-select" id="search_by">
                    <option value="username">Username</option>
                    <option value="id">User ID</option>
                    <option value="email">User Email</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="keyword">Keyword</label>
                <input class="form-control" id="keyword" placeholder="Enter Keyword" required type="text">
            </div>
            <div class="col mt-auto">
                <button class="btn btn-success" id="search">Search</button>
            </div>
        </div>
        <div id="msg"></div>
        <div class="text-center fw-bold mt-2" style="display: none;" id="show_all_link">
            <a href="{{ url_for('manager.patients') }}">Show All</a>
        </div>
    </div>
</div>

{% if patients.total > 0 %}
<div id="patient_view">
    <!-- Patient List -->
    <div class="container mt-3">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-responsive shadow">
                <thead class="table-success">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Email</th>
                        <th scope="col">Birthdate</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="patient_data">
                    {% for pat in patients %}
                    <tr>
                        <td>{{ pat.id }}</td>
                        <td>{{ pat.username }}</td>
                        <td>{{ pat.first_name }}</td>
                        <td>{{ pat.last_name }}</td>
                        <td>{{ pat.gender }}</td>
                        <td>{{ pat.email }}</td>
                        <td>{{ pat.birthdate }}</td>
                        <td>
                            <a href="{{ url_for('manager.view_patient', id=pat.id)}}"
                                class="btn btn-sm btn-secondary rounded-3 pop">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            <a href="{{ url_for('manager.view_patient', id=pat.id)}}"
                                class="btn btn-sm btn-danger rounded-3 pop"
                                onclick="return confirm('Delete Patient {{ pat.last_name }} {{ pat.first_name }}?')">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Pagination -->
    <div class="container mt-3 mb-3" id="patient_pagination">
        <div class="d-flex justify-content-center border rounded">
            {% for page_num in patients.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if patients.page == page_num %}
            <a class="btn btn-sm btn-success m-2" href="{{ url_for('manager.patients', page=page_num) }}"
                id="pg_link{{ page_num }}">
                {{ page_num }}
            </a>
            {% else %}
            <a class="btn btn-sm btn-outline-success m-2" href="{{ url_for('manager.patients', page=page_num) }}"
                id="pg_link{{ page_num }}">
                {{ page_num }}
            </a>
            {% endif %}
            {% else %}
            <button class="btn btn-sm btn-outline-secondary m-2" disabled>
                ...
            </button>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container mt-3">
        <div class="alert alert-warning alert-dismissible fade show fw-light" role="alert">
            <i class="bi bi-info-circle-fill"></i> Sorry, no results found!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        $("#side_patient").addClass("text-success-emphasis bg-success-subtle");
    });

    // Post data
    $("#search").click(function () {
        $.ajax({
            type: "POST",
            url: "{{ url_for('api.search_patient') }}",
            data: {
                search_by: $("#search_by").val(),
                keyword: $("#keyword").val()
            },
            success: function (response) {
                $("#msg").empty();
                $("#patient_data").empty();
                $("#patient_pagination").remove();
                
                if(response[0]["result"] == "success") {
                    var data = ""
                    $.each(response[1]["patients"], function (index, patient) { 
                        data +=  `
                         <tr>
                            <td>${patient.id}</td>
                            <td>${patient.username}</td>
                            <td>${patient.first_name}</td>
                            <td>${patient.last_name}</td>
                            <td>${patient.gender}</td>
                            <td>${patient.email}</td>
                            <td>${patient.birthdate}</td>
                            <td>
                                <a href="${patient.view_url}"
                                class="btn btn-sm btn-secondary rounded-3 pop">
                                <i class="bi bi-eye-fill"></i>
                                </a>
                                <a href="${patient.delete_url}"
                                class="btn btn-sm btn-danger rounded-3 pop"
                                onclick="return confirm('Delete Patient ${patient.last_name} ${patient.first_name}?')">
                                <i class="bi bi-trash3-fill"></i>
                                </a>
                            </td>
                        </tr>
                         `
                    });
                    
                    $("#patient_data").html(data);
                    $("#patient_view").show();
                    $("#show_all_link").show();
                }
                else if(response[0]["result"] == "fail") {
                    $("#patient_view").hide();
                    $("#show_all_link").show();
                    $("#msg").html("<div class='text-center text-danger mt-2'>Sorry, No Result Found!</div>");
                }
            }
        });
    });

</script>
{% endblock content %}