{% extends 'layout/layout_manager.html' %}

{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    <i class="bi bi-house-door-fill"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('manager.patients') }}">
                    Patients
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a class="link-body-emphasis fw-semibold text-decoration-none"
                    href="{{ url_for('manager.view_patient', id=patient.p_id) }}">
                    {{ patient.last_name }} {{ patient.first_name }}
                </a>
            </li>
            <li class="breadcrumb-item active">
                Account Logs
            </li>
        </ol>
    </nav>
</div>

<div class="container mt-3">
    <!-- Log List -->
    <table class="table table-striped shadow">
        <thead class="table-success">
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Log Event</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody id="log_data">
            {% for log in logs %}
            <tr>
                <td>{{ log.log_id }}</td>
                <td>
                    <a onclick="show_log_details('{{ log.log_id }}')" class="text-decoration-none text-success">
                        {{ log.log_type }}
                    </a>
                </td>
                <td>{{ log.log_date }}</td>
                <td>{{ log.log_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination -->
<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-center border rounded">
        {% for page_num in logs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if logs.page == page_num %}
        <a class="btn btn-sm btn-success m-2"
            href="{{ url_for('manager.view_patient_logs', id=patient.p_id, page=page_num) }}"
            id="pg_link{{ page_num }}">
            {{ page_num }}
        </a>
        {% else %}
        <a class="btn btn-sm btn-outline-success m-2"
            href="{{ url_for('manager.view_patient_logs', id=patient.p_id, page=page_num) }}"
            id="pg_link{{ page_num }}">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        <button class="btn btn-sm btn-outline-secondary m-2" disabled>
            ...
        </button>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% include '/manager/modals/patient_log_modal.html' %}

<!-- JS -->
<script>
    $(document).ready(function () {
        $("#side_patient").addClass("text-success-emphasis bg-success-subtle");
    });
    function show_log_details(log_id) {
            $.ajax({
                type: "GET",
                url: "/api/public/log/" + log_id,
                data: "data",
                success: function (response) {
                    var log = response[1]["log"]
                    $("#log_title").html("Log #" + log.log_id);
                    $("#log_type").html(log.log_type);
                    $("#log_date").html(log.log_date);
                    $("#log_time").html(log.log_time);
                    $("#log_desc").html(log.log_desc);
                    $("#logModal").toggle();
                }
            });
        }
        $("#closeModal").click(function (e) {
            $("#logModal").toggle();
        });
</script>
{% endblock content %}