<div class="modal" id="passwordModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header bg-secondary-subtle">
                <h4 class="modal-title">
                    Change Password
                </h4>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal"></button>

            </div>
            <!-- Body -->
            <div class="modal-body">
                <form method="POST" action="{{ url_for('doctor.change_password_handler') }}">
                    {{ password_form.hidden_tag() }}
                    <!-- Current Password -->
                    <div class="mb-3">
                        {{ password_form.current_password.label(class='form-label fw-bold') }}
                        {% if password_form.current_password.errors %}
                        {{ password_form.current_password(class="form-control is-invalid", placeholder='Enter Current Password')
                        }}
                        <div class="invalid-feedback">
                            {% for error in password_form.current_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ password_form.current_password(class="form-control", placeholder='Enter Current Password') }}
                        {% endif %}
                    </div>
                    <!-- New Password -->
                    <div class="mb-3">
                        {{ password_form.new_password.label(class='form-label fw-bold') }}
                        {% if password_form.new_password.errors %}
                        {{ password_form.new_password(class="form-control is-invalid", placeholder='Enter New Password')
                        }}
                        <div class="invalid-feedback">
                            {% for error in password_form.new_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ password_form.new_password(class="form-control", placeholder='Enter New Password') }}
                        {% endif %}
                    </div>
                    <!-- Confirm Password -->
                    <div class="mb-3">
                        {{ password_form.confirm_password.label(class='form-label fw-bold') }}
                        {% if password_form.confirm_password.errors %}
                        {{ password_form.confirm_password(class="form-control is-invalid", placeholder='Confirm New
                        Password') }}
                        <div class="invalid-feedback">
                            {% for error in password_form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ password_form.confirm_password(class="form-control", placeholder='Confirm New Password') }}
                        {% endif %}
                    </div>

                    <!-- Change Button -->
                    <div class="d-grid mb-3">
                        {{ password_form.submit(class='btn btn-info fw-bold text-white mt-2 mb-2') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>