{% extends 'layout/layout_public.html' %}

{% block content %}
<style>
    .pop {
        /* All transition take 0.3s */
        transition: all 0.3s;
    }
    .pop:hover {
        /* Make 15% bigger */
        transform: scale(1.15);
        z-index: 1;

    }
</style>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-3 mb-2">
            <img src="{{ url_for('static', filename='avatars/patient/'~user.avatar) }}"
                class="img-thumbnail me-2" alt="{{ current_user.username }}"
                style="max-width: 235px; max-height: 220px;"
                alt="{{ user.username }}" title="{{ user.username }}">
            <div class="mt-2">
                <a href="{{ url_for('patient.update_profile') }}" class="btn btn-primary btn-sm mb-2">Update Profile</a>
                <a href="{{ url_for('patient.change_password') }}" class="btn btn-secondary btn-sm mb-2">Change Password</a>
            </div>
        </div>
        <div class="col-md-4 mb-2 text-start">
            <div class="fs-4 fw-bold">{{ user.username }}</div>
            <div class="fs-5">
                {{ user.last_name}} {{ user.first_name}}
                {% if user.gender == "Male" %}
                <span class="badge text-bg-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8" />
                    </svg>
                </span>
                {% else %}
                <span class="badge text-bg-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8M3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5" />
                    </svg>
                </span>
                {% endif %}
            </div>
            <div class="fs-5">Phone: <span class="text-secondary">{{ user.phone }}</span></div>
            <div class="fs-5">Email: <span class="text-secondary">{{ user.email }}</span></div>
            <div class="fs-5">Birthdate: <span class="text-secondary">{{ user.birthdate }}</span></div>
            <div class="fs-5">Account ID: <span class="text-secondary">#{{ current_user.id }}</span></div>
        </div>
        <div class="col-md-5 mb-2 ms-auto">
            <div class="me-1">
                <div class="fs-5 fw-bold">
                    <svg width="20" height="20" fill="currentColor" class="bi"
                        viewBox="0 0 16 16">
                        <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0" />
                    </svg>
                    Current Device
                </div>
                <div class="fs-5">IP: <span class="text-secondary">{{ ip }}</span></div>
                <div class="fs-5">Browser: <span class="text-secondary">{{ info }}</span></div>
            </div>
            </p>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row gy-3">
        <div class="col-md-4 mb-2 pop">
            <div class="card h-100 bg-success-subtle">
                <div class="card-body">
                    <h5 class="card-title">Doctor Appointment</h5>
                    <p class="card-text">
                        Pick a doctor that you need and make appointment on your favourable time.
                    </p>
                    <a href="#" class="btn btn-success bg-gradient shadow-lg">Get Appointment</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2 pop">
            <div class="card h-100">
                <div class="card-body bg-info-subtle">
                    <h5 class="card-title">Medical Test</h5>
                    <p class="card-text">
                        Need to do medical test? Check our available tests and register for your need.
                    </p>
                    <a href="#" class="btn btn-info bg-gradient shadow-lg text-white">Apply for Test</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2 pop">
            <div class="card h-100">
                <div class="card-body bg-danger-subtle">
                    <h5 class="card-title">Medical Records</h5>
                    <p class="card-text">
                        It's necessary to keep your account updated with latest medical records to get better treatment.
                    </p>
                    <a href="{{ url_for('patient.medical_records') }}" class="btn btn-danger bg-gradient shadow-lg text-white">Update Records</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <a href="{{ url_for('patient.logs') }}" class="btn btn-info fw-bold text-white">
        Activity Logs
    </a>
</div>
{% endblock content %}