<div class="modal" id="logModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header bg-success-subtle">
                <h5 class="modal-title" id="log_title"></h4>
                <button type="button" class="btn-close" id="closeModal"></button>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <div class="fs-5">Log Type: <span class="text-secondary" id="log_type"></span></div>
                <div class="fs-5">Log Date: <span class="text-secondary" id="log_date"></span></div>
                <div class="fs-5">Log Time: <span class="text-secondary" id="log_time"></span></div>
                <div class="fs-5">Other Details:</div>
                <p class="text-secondary mt-1" id="log_desc"></p>
            </div>
        </div>
    </div>
</div>