{% extends 'layout/layout_public.html' %}


{% block content %}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.dashboard') }}">
                    Dashboard
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('patient.tests') }}">
                    Medical Tests
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none"
                    href="{{ url_for('patient.test_report', serial=file.test_book_serial)}}">
                    Test #{{ file.test_book_serial }}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ file.file_name }}
            </li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row border p-3 m-3 mt-0 rounded">
        <div class="col-md-6 text-break">
            <div class="fs-5">
                {{ file.file_name }}
            </div>
            <div class="fs-6 text-secondary">
                Size: {{ file.file_size_kb }} KB
            </div>
            <div class="fs-6 text-secondary">
                Uploaded on: {{ file.upload_date }}, {{ file.upload_time }}
            </div>
            <div class="fs-6 mt-2">
                <strong>Uploaded by: </strong>
                {{ file.last_name }} {{ file.first_name }}
            </div>
        </div>
        <div class="col-md-6 text-end mt-3">
            <a href="{{ url_for('patient.download_report_file', file_id=file.file_id) }}"
                class="btn btn-primary">
                Download
            </a>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <object data="{{ url_for('static', filename='upload/manager/test_results/'~file.file_path_name) }}"
            type="application/pdf" style="width: 100%; min-height: 600px;" />
        <div class="alert alert-danger" role="alert">
            Sorry, your browser not supported. Try using desktop browser.
        </div>
        </object>
    </div>
</div>

{% endblock content %}