<div class="col-sm-12 col-md-12 col-lg-5 border rounded mb-3">
    <div class="h4 mb-3 mt-3">
        <i class="bi bi-clipboard2-pulse-fill"></i> Personal Medical Information
    </div>
    <hr>
    <form action="{{ url_for('patient.medical_records')}}" method="post">
        {{ form.hidden_tag() }}
        <!-- Blood Group -->
        <div class="mb-2">
            {{ form.blood_group.label(class='form-label') }}
            {{ form.blood_group(class='form-control', placeholder='Enter Blood Group') }}
            {% if form.blood_group.errors %}
            <div class="invalid-feedback">
                {% for error in form.blood_group.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- Height -->
        <div class="mb-2">
            {{ form.height_cm.label(class='form-label') }}
            {{ form.height_cm(class='form-control', placeholder='Enter Height in CM. Eg, 165') }}
            {% if form.height_cm.errors %}
            <div class="invalid-feedback">
                {% for error in form.height_cm.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- Weight -->
        <div class="mb-2">
            {{ form.weight_kg.label(class='form-label') }}
            {{ form.weight_kg(class='form-control', placeholder='Enter Weight in KG. Eg, 60') }}
            {% if form.weight_kg.errors %}
            <div class="invalid-feedback">
                {% for error in form.weight_kg.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- Allergies -->
        <div class="mb-2">
            {{ form.allergies.label(class='form-label') }}
            {{ form.allergies(class='form-control', placeholder='Type if you have any allergies') }}
            {% if form.allergies.errors %}
            <div class="invalid-feedback">
                {% for error in form.allergies.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- Medical Conditions -->
        <div class="mb-2">
            {{ form.medical_conditions.label(class='form-label') }}
            {{ form.medical_conditions(class='form-control', placeholder='Type if you have any medical conditions') }}
            {% if form.medical_conditions.errors %}
            <div class="invalid-feedback">
                {% for error in form.medical_conditions.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <!-- Submit -->
        {{ form.submit(class='btn btn-mint w-100 mt-2 mb-3') }}
    </form>
</div>