{% extends 'layout/layout_public.html' %}


{% block content %}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Error {{ code }}
            </li>
        </ol>
    </nav>
</div>

<div class="container mx-auto p-5">
    <div class="m-3 p-3 text-center text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
        <div class="display-3 mb-3">
            <svg width="50" height="50" fill="currentColor"
                class="bi" viewBox="0 0 16 16">
                <path
                    d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
            </svg>
            <strong>Error: {{ code }}!</strong>
        </div>
        <hr>
        <div class="fs-3 mt-3">
            {{ error }}
        </div>
    </div>
</div>
{% endblock content %}
