{% extends 'layout/layout_public.html' %}


{% block content %}
<div class="container mx-auto my-auto">
    <div class="px-4 py-5 text-center">
        <div class="d-block mx-auto mb-1 display-2 text-danger">
            <i class="bi bi-exclamation-circle-fill"></i>
        </div>
        <h1 class="display-4 fw-bold text-danger-emphasis">
            Error: {{ code }}!
        </h1>
        <div class="col-lg-6 mx-auto">
            <div class="lead mb-4">
                {{ error }}
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ url_for('public.index') }}"
                    class="btn btn-mint btn-lg px-4 gap-3 rounded-3">
                    Go Home
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
