/* Background */
.bg-gray {background-color: #ECF0F1;}

.bg-navyblue {background-color: #3498DB;}

.bg-lightgreen {background-color: #82E0AA;}
/* .bg-lightgreen2 {background-color: #23d26f;} */

.bg-darkred {background-color: #E74C3C;}

.bg-lightmint {background-color: #C8F7C5;}

.bg-smint {background-color: #d6f6d4;}

/* Text */
.text-gray {color: #ECF0F1;}

.text-navyblue {color: #3498DB;}

.text-lightgreen {color: #82E0AA;}

.text-darkred {color: #E74C3C;}

.text-lightmint {color: #C8F7C5;}

.text-smint {color: #d6f6d4;}

.btn-mint {
    background-color: #a8f9a2!important;
}
.btn-mint:hover {
    background-color: #C8F7C5 !important;
}


.scrollarea {
    overflow-y: auto;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

#fbtn {
    /* All transition take 0.3s */
    transition: all 0.3s;
}

#fbtn:hover {
    /* Make 20% bigger */
    transform: scale(1.20);

}

.pop {
    /* All transition take 0.3s */
    transition: all 0.3s;
}

.pop:hover {
    /* Make 15% bigger */
    transform: scale(1.15);
    z-index: 1;

}

.breadcrumb-chevron {
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    gap: .5rem;
}

.breadcrumb-chevron .breadcrumb-item {
    display: flex;
    gap: inherit;
    align-items: center;
    padding-left: 0;
    line-height: 1;
}

.breadcrumb-chevron .breadcrumb-item::before {
    gap: inherit;
    float: none;
    width: 1rem;
    height: 1rem;
}