{% extends 'layouts/layout_home.html' %}


{% block content %}
<div class="container mt-3 p-3" style="max-width: 80%;">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a id="logLi" class="nav-link active fw-bold text-dark p-3" data-bs-toggle="tab" href="#loginTab">Login</a>
        </li>
        <li class="nav-item">
            <a id="regLi" class="nav-link fw-bold text-dark bg-smint p-3" data-bs-toggle="tab" href="#regTab">Registration</a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content border-start border-end border-bottom rounded shadow-lg">
        <div id="loginTab" class="container tab-pane active"><br>
            <h3 class="text-center">Login</h3>
            <!-- Login form start -->
            <form action="" method="post" class="container" style="max-width: 70%;">
            {{ loginForm.hidden_tag() }}
            <!-- Username -->
            <div class="mb-3 mt-3">
                {{ loginForm.username.label(class='form-label') }}
                {% if loginForm.username.errors %}
                {{ loginForm.username(class="form-control is-invalid", placeholder='Enter Username') }}
                <div class="invalid-feedback">
                    {% for error in loginForm.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ loginForm.username(class="form-control", placeholder='Enter Username') }}
                {% endif %}
            </div>
            
            <!-- Password -->
            <div class="mb-3 mt-3">
                {{ loginForm.password.label(class='form-label') }}
                {% if loginForm.password.errors %}
                {{ loginForm.password(class="form-control is-invalid", placeholder='Enter Password') }}
                <div class="invalid-feedback">
                    {% for error in loginForm.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ loginForm.password(class="form-control", placeholder='Enter Password') }}
                {% endif %}
            </div>
            
            <!-- Login Checkbox -->
            <div class="mb-3 form-check">
                {{ loginForm.remember.label(class='form-check-label') }}
                {{ loginForm.remember(class='form-check-input', type='checkbox') }}
            </div>
            <div class="d-grid mb-3">
                {{ loginForm.submit(class='btn btn-mint fs-5', id='loginBtn') }}
            </div>
            </form>
            <!-- Login form end -->
        </div>
        <div id="regTab" class="container tab-pane fade"><br>
            <h3 class="text-center">Registration</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</div>

{% endblock content %}