{% extends 'layout/layout_public.html' %}

{% block content %}
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
<!-- JS -->
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.doctors') }}">
                    Doctors
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Dr. {{ doctor.last_name}} {{ doctor.first_name }}
            </li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="text-center">
        <img class="rounded-circle border shadow" height="140px" width="140px"
            src="{{ url_for('static', filename='avatars/doctor/'~doctor.avatar) }}" />
        <div class="fs-4 fw-light">
            Dr. {{ doctor.last_name }} {{ doctor.first_name }}
            {% if doctor.gender == "Male" %}
            <span class="badge rounded-pill text-bg-info">
                <svg width="14" height="14" fill="currentColor" class="bi" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8" />
                </svg>
            </span>
            {% else %}
            <span class="badge rounded-pill text-bg-warning">
                <svg width="14" height="14" fill="currentColor" class="bi" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8M3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5" />
                </svg>
            </span>
            {% endif %}
        </div>
        <div class="fs-5 fw-light text-secondary">
            {{ doctor.title }}
        </div>
        {% if doctor.appt_status == "Available" %}
        <span class="badge rounded-pill text-bg-success">{{ doctor.appt_status }}</span>
        {% else %}
        <span class="badge rounded-pill text-bg-danger">{{ doctor.appt_status }}</span>
        {% endif %}
    </div>
</div>

<div class="container mt-3 mb-3">
    <div class="border rounded p-3 mb-3">
        <form action="{{ url_for('public.book_appointment', doctor_id=doctor.d_id)}}" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.appt_date.label(class='fs-5 fw-bold mb-3') }}
                {{ form.appt_date(class="form-control date") }}
                {% if form.appt_date.errors %}
                <div class="invalid-feedback">
                    {% for error in form.appt_date.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.times.label(class='fs-5 fw-bold mb-3') }}
                <div class="d-flex flex-wrap">
                    {% for subfield in form.times %}
                        {% if form.times.data and subfield.data in form.times.data %}
                        <input type="radio" class="btn-check" id="{{ subfield.id }}" name="times"
                            value="{{ subfield.data }}">
                        <label class="btn btn-outline-info me-3 mb-2" for="{{ subfield.id }}">{{ subfield.label }}</label>
                        {% endif %}
                    {% endfor %}
                    {% if form.times.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.times.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Submit -->
            <div class="text-center">
                {{ form.submit(class='btn btn-secondary w-50 mt-2 py-2') }}
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(function () {
            // Array of allowed days (0 = Sunday, 1 = Monday, ..., 6 = Saturday)
            var allowedDays = "{{days}}";
            function isAllowedDay(date) {
                var dayOfWeek = date.getDay();
                return allowedDays.indexOf(dayOfWeek) !== -1;
            }
            $("#appt_date").datepicker({
                beforeShowDay: function (date) {
                    var day = date.getDay();
                    return [allowedDays.indexOf(day) !== -1, ''];
                },
                minDate: 0, // Disallow past dates
                dateFormat: 'yy-mm-dd',
                autoclose: true,
                onSelect: function (dateText, inst) {
                    var selectedDate = $(this).datepicker('getDate');
                    if (!isAllowedDay(selectedDate)) {
                        alert('Please select a valid day');
                        $(this).val(''); // Clear the input field
                    }
                }
            });
        });
    });
</script>
{% endblock content %}