{% extends 'layout/layout_public.html' %}


{% block content %}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('public.index') }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Doctors
            </li>
        </ol>
    </nav>
</div>

<!-- Search -->
<div class="container">
    <div class="mb-3 p-3">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group">
                <div class="input-group-text">
                    <svg width="20" height="20" fill="currentColor" class="bi" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </div>
                {{ form.keyword(class='form-control', placeholder='Doctor Name/Speciality') }}
                {% if form.keyword.errors %}
                <div class="invalid-feedback">
                    {% for error in form.keyword.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                {{ form.submit(class='input-group-text btn btn-success fw-bold pop') }}
            </div>
        </form>

        {% if search == "yes" %}
        <div class="text-center fw-bold mt-2">
            <a href="{{ url_for('public.doctors') }}">Show All</a>
        </div>
        {% endif %}
    </div>
</div>

<!-- Doctor List -->
<div class="container">
    <div class="row">
    {% for doc in doctors %}
        <div class="col-md-4 col-lg-3 mb-3">
            <div class="card h-100">
                <div class="card-img-top text-center mt-1">
                    <img class="rounded-circle border"
                        height="120px" width="120px"
                        src="{{ url_for('static', filename='avatars/doctor/'~doc.avatar) }}" />
                </div>
                <div class="card-body text-center">
                    <div class="fs-5 fw-light">
                        Dr. {{ doc.last_name }} {{ doc.first_name }}
                        {% if doc.gender == "Male" %}
                        <span class="badge rounded-pill text-bg-info">
                            <svg width="14" height="14" fill="currentColor" class="bi" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8" />
                            </svg>
                        </span>
                        {% else %}
                        <span class="badge rounded-pill text-bg-warning">
                            <svg width="14" height="14" fill="currentColor" class="bi" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8M3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5" />
                            </svg>
                        </span>
                        {% endif %}
                    </div>
                    <div class="fs-6 text-secondary">
                        {{ doc.title }}
                    </div>
                    <div class="card-text mt-2 mb-2">
                        {% if doc.appt_status == "Available" %}
                        <span class="badge rounded-pill text-bg-success">{{ doc.appt_status }}</span>
                        {% else %}
                        <span class="badge rounded-pill text-bg-danger">{{ doc.appt_status }}</span>
                        {% endif %}
                    </div>
                    <a href="{{ url_for('public.view_doctor', id=doc.d_id) }}"
                        class="btn btn-mint flex-end pop">
                        View Details
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


<!-- Pagination -->
<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-center border rounded">
        {% for page_num in doctors.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if doctors.page == page_num %}
        <a class="btn btn-success m-2 pop" href="{{ url_for('public.doctors', page=page_num) }}"
            id="pg_link{{ page_num }}">
            {{ page_num }}
        </a>
        {% else %}
        <a class="btn btn-outline-success m-2 pop" href="{{ url_for('public.doctors', page=page_num) }}"
            id="pg_link{{ page_num }}">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        <button class="btn btn-outline-secondary m-2" disabled>
            ...
        </button>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}