<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - MediPlus</title>
    {% else %}
    <title>Prescription - MediPlus</title>
    {% endif %}
    <!-- JS -->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23198754' viewBox='0 0 16 16'%3E%3Cpath
            d='M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598
            5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9z'/%3E%3Cpath d='M.88 8C-2.427 1.68 4.41-2 7.823
            1.143q.09.083.176.171a3 3 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956
            6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8z'/%3E%3C/svg%3E" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <div class="container mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="{{ url_for('public.index') }}" class="text-decoration-none">
                    <div class="thumbnail">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#198754" viewBox="0 0 16 16">
                            <path
                                d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9z" />
                            <path
                                d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8z" />
                        </svg>
                        <b class="fs-4 text-danger">Medi</b><b class="text-success fs-4">Plus</b>
                    </div>
                </a>
                <div class="fw-bold">
                    <a href="{{ url_for('public.view_doctor', id=pres.doctor_id) }}"
                        class="text-decoration-none">
                        Dr. {{ pres.doctor_last_name }} {{ pres.doctor_first_name }}
                    </a>
                </div>
                <div class="fw-semibold text-secondary">{{ pres.doctor_title }}</div>
            </div>
            <div>
                <div class="text-secondary">
                    <strong>Prescription:</strong>
                    #{{ pres.prescription_id }}
                </div>
                <div class="text-secondary">
                    <strong>Date:</strong>
                    {{ pres.pres_date }}
                </div>
                <div class="text-secondary">
                    <strong>Update:</strong>
                    {{ pres.last_update_date }}
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <div class="text-dark">
                <strong>Name: </strong>
                {{ pres.patient_last_name}} {{ pres.patient_first_name }}
            </div>
            <div class="text-dark">
                <strong>Gender: </strong>
                {{ pres.gender }}
            </div>
            <div class="text-dark">
                <strong>DOB: </strong>
                {{ pres.patient_dob }}
            </div>
        </div>
        <hr>

    </div>
    <!-- Medicine -->
    <div class="container mt-3">
        <div class="text-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-prescription"
                viewBox="0 0 16 16">
                <path
                    d="M5.5 6a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 1 0V9h.293l2 2-1.147 1.146a.5.5 0 0 0 .708.708L9 11.707l1.146 1.147a.5.5 0 0 0 .708-.708L9.707 11l1.147-1.146a.5.5 0 0 0-.708-.708L9 10.293 7.695 8.987A1.5 1.5 0 0 0 7.5 6zM6 7h1.5a.5.5 0 0 1 0 1H6z" />
                <path
                    d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v10.5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 14.5V4a1 1 0 0 1-1-1zm2 3v10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V4zM3 3h10V1H3z" />
            </svg>
        </div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Medicine</th>
                    <th scope="col">Dosage</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Instruction</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.medicine }}</td>
                    <td>{{ item.dosage }}</td>
                    <td>{{ item.duration }}</td>
                    <td>{{ item.instruction }}</td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
    <div class="container mt-3">
        <hr>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <strong>Diagnosis Information:</strong>
                <div class="mb-2">{{ pres.diagnosis }}</div>
                <strong>Prescription Notes:</strong>
                <div class="mb-2">{{ pres.notes }}</div>
                <strong>Next Meet Information:</strong>
                <div class="mb-2">{{ pres.next_meet }}</div>
            </div>
            <div>
                <div class="text-center fw-bold mb-2">
                    Scan to Verify
                </div>
                <div class="text-center">
                    <img src="{{ qrcode(url, box_size=12) }}" class="img-thumbnail" style="width: 100px;">
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <hr>
        <div class="text-center text-seondary">
            <strong>Disclaimer:</strong>
            This is a digitally generated prescription. Please scan the QR code to verify and get the latest information.
        </div>
    </div>
</body>
</html>