<script>
    let toastLive;
    let toastBootstrap;
    let rowId;
    $(document).ready(function () {
        $("#navAppt").removeClass("text-info");
        $("#navAppt").addClass("active");

        toastLive = document.getElementById('liveToast');
        toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLive);
        // Load items and extras
        $.ajax({
            type: "GET",
            url: "{{ url_for('api.prescription_items', pres_id=appt.prescription_id) }}",
            success: function (response) {
                if (response[0]["result"] == "success") {
                    $.each(response[1]["items"], function (index, item) {
                        data = `
                        <tr id="item${item.id}">
                            <td>${item.medicine}</td>
                            <td>${item.dosage}</td>
                            <td>${item.instruction}</td>
                            <td>${item.duration}</td>
                            <td>
                                <button type="button" id="btn_edit${item.id}" class="btn_edit btn btn-sm btn-secondary">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button type="button" id="btn_delete${item.id}" class="btn_delete btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                         `
                        $("#item_list").append(data);
                    });
                    // Extras
                    var extras = response[2]["extras"];
                    $("#diag_info").html(extras.diagnosis);
                    $("#note_info").html(extras.notes);
                    $("#meet_info").html(extras.next_meet);
                }
            }
        });
        // New item add handler
        $("#pres_item_form").submit(function (e) {
            e.preventDefault();
            var data = $(this).serialize();
            $.ajax({
                type: "post",
                url: "{{ url_for('doctor.add_prescription_item', prescription_id=appt.prescription_id)}}",
                data: data,
                success: function (response) {
                    if (response["result"] == "success") {
                        // Clear all fields of the form
                        $("#pres_item_form")[0].reset();
                        data = `
                        <tr id="item${response["id"]}">
                            <td>${response["medicine"]}</td>
                            <td>${response["dosage"]}</td>
                            <td>${response["instruction"]}</td>
                            <td>${response["duration"]}</td>
                            <td>
                                <button type="button" id="btn_edit${response["id"]}" class="btn_edit btn btn-sm btn-secondary">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button type="button" id="btn_delete${response["id"]}" class="btn_delete btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                         `
                        $("#item_list").append(data);
                    }
                    $("#toastMsg").removeClass("text-bg-danger");
                    $("#toastMsg").addClass("text-bg-success");
                    $("#toastMsg").html("New Prescription Item Added!");
                    toastBootstrap.show();
                    $("#add_pres_item_modal").modal("toggle");
                },
                error: function (error) {
                    $("#toastMsg").removeClass("text-bg-success");
                    $("#toastMsg").addClass("text-bg-danger");
                    $("#toastMsg").html("Server error, try again!");
                    toastBootstrap.show();
                    $("#add_pres_item_modal").modal("toggle");
                }
            });
        });
        // event listener to edit btn
        $("#item_list").on("click", ".btn_edit", function () {
            // Extract the row ID from the edit button's ID
            rowId = $(this).attr("id").replace("btn_edit", "");
            // Find the corresponding td elements and get their values
            var medicine = $("#item" + rowId + " td:nth-child(1)").text();
            var dosage = $("#item" + rowId + " td:nth-child(2)").text();
            var instruction = $("#item" + rowId + " td:nth-child(3)").text();
            var duration = $("#item" + rowId + " td:nth-child(4)").text();
            // Populate the modal form fields with the extracted information
            $("#edit_medicine").val(medicine);
            $("#edit_dosage").val(dosage);
            $("#edit_instruction").val(instruction);
            $("#edit_duration").val(duration);
            // Show the modal
            $("#edit_pres_item_modal").modal("show");
        });
        // Submit edit form
        $("#pres_item_edit_form").submit(function (e) {
            e.preventDefault();
            var data = $(this).serialize();
            var url = "/dashboard/doctor/prescription/{{ appt.prescription_id }}/edit_pitem/" + parseInt(rowId)
            $.ajax({
                type: "post",
                url: url,
                data: data,
                success: function (response) {
                    if (response["result"] == "success") {
                        data = `
                            <td>${response["medicine"]}</td>
                            <td>${response["dosage"]}</td>
                            <td>${response["instruction"]}</td>
                            <td>${response["duration"]}</td>
                            <td>
                                <button type="button" id="btn_edit${response["id"]}" class="btn_edit btn btn-sm btn-secondary">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button type="button" id="btn_delete${response["id"]}" class="btn_delete btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                         `
                        $('#item' + response["id"]).html(data);
                    };

                    $("#toastMsg").removeClass("text-bg-danger");
                    $("#toastMsg").addClass("text-bg-success");
                    $("#toastMsg").html("Prescription Item Updated!");
                    toastBootstrap.show();
                    $("#edit_pres_item_modal").modal("toggle");
                },
                error: function (error) {
                    $("#toastMsg").removeClass("text-bg-success");
                    $("#toastMsg").addClass("text-bg-danger");
                    $("#toastMsg").html("Server error, try again!");
                    toastBootstrap.show();
                    $("#edit_pres_item_modal").modal("toggle");
                }
            });
        });
        // event listener to delete btn
        $("#item_list").on("click", ".btn_delete", function () {
            // Extract the row ID from the delete button's ID
            rowId = $(this).attr("id").replace("btn_delete", "");
            var url = "/dashboard/doctor/prescription/{{ appt.prescription_id }}/delete_pitem/" + parseInt(rowId)
            $.ajax({
                type: "DELETE",
                url: url,
                success: function (response) {
                    if (response == "success") {
                        $("#item" + rowId).remove();
                        $("#toastMsg").removeClass("text-bg-danger");
                        $("#toastMsg").addClass("text-bg-success");
                        $("#toastMsg").html("Prescription Item Removed!");
                        toastBootstrap.show();
                    }
                }
            });
        });
        // Diagnosis btn
        $("#diag_info_btn").click(function (e) { 
            $("#diag_info").hide();
            $("#diag_info_btn").hide();
            $("#diag_info_save_btn").show();
            $("#diag_info_box").show();
            $("#diag_info_box").focus();

            $("#diag_info_box").val($("#diag_info").text());
        });
        // Note btn
        $("#note_info_btn").click(function (e) { 
            $("#note_info").hide();
            $("#note_info_btn").hide();
            $("#note_info_save_btn").show();
            $("#note_info_box").show();
            $("#note_info_box").focus();

            $("#note_info_box").val($("#note_info").text());
        });
        // Meet btn
        $("#meet_info_btn").click(function (e) { 
            $("#meet_info").hide();
            $("#meet_info_btn").hide();
            $("#meet_info_save_btn").show();
            $("#meet_info_box").show();
            $("#meet_info_box").focus();

            $("#meet_info_box").val($("#meet_info").text());
        });
    });

    function update_diagnosis() {
        // Diagnosis save btn
        $("#diag_info").show();
        $("#diag_info_btn").show();
        $("#diag_info_save_btn").hide();
        $("#diag_info_box").hide();
        $("#diag_info").html($("#diag_info_box").val());
        $.ajax({
            type: "POST",
            url: "{{ url_for('doctor.update_prescription_diagnosis', prescription_id=appt.prescription_id) }}",
            data: {
                diag: $("#diag_info_box").val()
            },
            success: function (response) {
                $("#toastMsg").removeClass("text-bg-danger");
                $("#toastMsg").addClass("text-bg-success");
                $("#toastMsg").html("Diagnosis information updated!");
                toastBootstrap.show();
            }
        });
    }
    function update_note() {
        // Note save btn
        $("#note_info").show();
        $("#note_info_btn").show();
        $("#note_info_save_btn").hide();
        $("#note_info_box").hide();
        $("#note_info").html($("#note_info_box").val());
        $.ajax({
            type: "POST",
            url: "{{ url_for('doctor.update_prescription_notes', prescription_id=appt.prescription_id) }}",
            data: {
                notes: $("#note_info_box").val()
            },
            success: function (response) {
                $("#toastMsg").removeClass("text-bg-danger");
                $("#toastMsg").addClass("text-bg-success");
                $("#toastMsg").html("Prescription note updated!");
                toastBootstrap.show();
            }
        });
    }
    function update_meet() {
        // Note save btn
        $("#meet_info").show();
        $("#meet_info_btn").show();
        $("#meet_info_save_btn").hide();
        $("#meet_info_box").hide();
        $("#meet_info").html($("#meet_info_box").val());
        $.ajax({
            type: "POST",
            url: "{{ url_for('doctor.update_prescription_nextmeet', prescription_id=appt.prescription_id) }}",
            data: {
                meet: $("#meet_info_box").val()
            },
            success: function (response) {
                $("#toastMsg").removeClass("text-bg-danger");
                $("#toastMsg").addClass("text-bg-success");
                $("#toastMsg").html("Next meeting information updated!");
                toastBootstrap.show();
            }
        });
    }
</script>